<%= form_with(model: list) do |form| %>
  <% if list.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <tr>
      <td>
        <%= form.text_field :title, class: "form-control w-100", placeholder: "Task Name", disabled: @disable_status_field %>
      </td>
      <td>
        <%= form.text_field :description, class: "form-control w-100", placeholder: "Description", disabled: @disable_status_field %>
      </td>
      <td>
        <%= form.select :status, [:"In Progress", :Completed, :Retracted], {} , { class: "form-select w-100", style: "display: inline", disabled: @disable_status_field }%>
      </td>
      <td>
      <% if @project.present? %>
        <%= form.select :assignee_id, options_for_select(@user_ids.map { |user_id| 
          user = User.find(user_id)
          user.present? ? "#{user.first_name} #{user.last_name}" : nil
        }), include_blank: true, class: "form-select w-100" %>
      <% else %>
        <p>Please select a project first.</p>
      <% end %>
      </td>
        <%= form.hidden_field :project_team_id, value: @project_team_id %>
      <td>
        <%#= form.submit %>
         <%= button_to "Create Task", "", type: "submit", class: "btn btn-outline-primary btn-sm" %>
      </td>
    </tr>

<% end %>

 