<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-left-margin">
    <div class="row mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email", :class => "form-control w-25" %>
    </div>

    <div class="row mb-3">
      <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name", :placeholder => "First Name", :class => "form-control w-25" %>
    </div>

    <div class="row mb-3">
      <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name", :placeholder => "Last Name", :class => "form-control w-25" %>
    </div>

    <div class="row mb-3">
      <%= f.text_field :position, autofocus: true, :placeholder => "Position", :class => "form-control w-25" %>
    </div>

    <div class="row mb-3">
      <%= f.text_field :department, autofocus: true, :placeholder => "Department", :class => "form-control w-25" %>
    </div>

    <div class="row mb-3">
      <%= f.hidden_field :profile, :value => "user" %>
    </div>
  </div>



  <div class="field">
    <% character_min = "Passworrd" %>
    <% if @minimum_password_length %>
      <em class="opacity-75">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", :placeholder => character_min, :class => "form-control w-25" %>
  </div>

  <div class="field-spacing">
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "Password Confirmation", :class => "form-control w-25" %>
    </div>
  </div>

  <div class="button-spacing">
    <div class="actions">
      <%= f.submit "Sign up", :class => 'btn btn-info text-white' %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
