<h3><%= "Showing #{@showed_user.first_name} #{@showed_user.last_name}" %></h3>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr class="text-center">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Title</th>
      <th>Department</th>
      <th>Email</th>
      <th>Profile</th>
      <th>Status</th>
      <th>Edit User</th>
    </tr>
  </thead>
  <tbody>
<tbody>
    <tr>
      <%= render @user %>
      <div>
        <td class="text-center">
          <%= button_to "Edit user", edit_user_path(@user), :method => "get" , class: 'btn btn-outline-secondary btn-sm' %>
        </td>
        <td class="text-center">
          <%= button_to  "Destroy this user", @user, method: :delete, class: 'btn btn-outline-danger btn-sm' %>
        </td>
      </div>
    </tr>
  <tbody>
</table>


<div class="row mb-3">
  <%= button_to "<< Back to users", users_path, :method => "get" , class: 'btn btn-primary' %>
</div>


