<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
      <div>
        <%= form.text_field :name, class: "form-control w-50", placeholder: "Project name", disabled: @disable_status_field %>
      </div>
    </div>

  <div class="row mb-3">
    <div>
      <%= form.text_area :description, class: "form-control w-50", placeholder: "Description", disabled: @disable_status_field %>
    </div>
  </div>

  <div class="row mb-3">
    <div>
      <%= form.label :time_frame_for_completion, style: "display: inline" %> 
      &nbsp;
      <%= form.date_field :time_frame_for_completion, min: Date.today, class: "form-control text-end w-25", style: "display: inline", disabled: @disable_status_field %>
    </div>
  </div>

  <div class="row mb-3">
      <div>
        <%= form.label :status, style: "display: inline" %> 
          &nbsp;
        <%= form.select :status, [:Active, :Completed, :Inactive], {} , { class: "form-select w-25", style: "display: inline", disabled: @disable_status_field }%>
      </div>
  </div>

  <p>
    <%= form.label :Team %><br />
    <% for user in User.all %>
      <div class="form-check">
        <%= check_box_tag "project[user_ids][]", user.id, @project.users.include?(user) , class: 'form-check-input' %>
        <%= label_tag "user_#{user.id}", "#{user.first_name} #{user.last_name}", class: 'checkbox-label' %>
      </div>
    <% end %>
  </p>

  <div class="row mb-3">
    <div>
      <%= form.submit @submit_button_text, class: "btn btn-info text-white", disabled: @disabled_status %>
    </div>
  </div>

<% end %>
