<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
      <div>
        <%= form.text_field :name, class: "form-control w-50", placeholder: "Project name", disabled: @disable_status_field %>
      </div>
    </div>

  <div class="row mb-3">
    <div>
      <%= form.text_area :description, class: "form-control w-50", placeholder: "Description", disabled: @disable_status_field %>
    </div>
  </div>

  <div class="row mb-3">
    <div>
      <%= form.label :time_frame_for_completion, style: "display: inline" %> 
      &nbsp;
      <%= form.date_field :time_frame_for_completion, min: Date.today, class: "form-control text-end w-25", style: "display: inline", disabled: @disable_status_field %>
    </div>
  </div>

  <div class="row mb-3">
      <div>
        <%= form.label :status, style: "display: inline" %> 
          &nbsp;
        <%= form.select :status, [:Active, :Completed, :Inactive], {} , { class: "form-select w-25", style: "display: inline", disabled: @disable_status_field }%>
      </div>
  </div>


<table>
  <tr class="column-header-text-color">
    <th><%= form.label :Team, "Team:" %></th>
    <th class="spacer-column"></th>
    <th><%= label_tag :team_lead_id, "Team Lead:", class: 'form-check-label' %></th>
  </tr>
  <% if @project.persisted? %>
    <%= fields_for @project.project_teams do |project_team_form| %>
      <tr>
          <td>
            <div class="form-check">
              <%= project_team_form.hidden_field :user_id, value: project_team_form.object.user_id %>
              <%= project_team_form.check_box :_destroy, class: 'form-check-input' %>
              <%= project_team_form.label :user, "#{project_team_form.object.user.first_name} #{project_team_form.object.last_name}", class: 'checkbox-label' %>
            </div>
          </td>
          <td class="spacer-column"></td>
          <td>
            <div class="form-check form-switch form-left-margin-project-toggle-button">
              <%= project_team_form.check_box :team_lead, class: 'form-check-input' %>  </div>
          </td>
      </tr>
    <% end %>
  <% else %>
    <% for user in User.all %>
      <tr>
          <td>
            <div class="form-check">
              <%= check_box_tag "project[project_teams_attributes][][user_id]", user.id, false, class: 'form-check-input' %>
              <%= label_tag "user_#{user.id}", "#{user.first_name} #{user.last_name}", class: 'checkbox-label' %>
            </div>
          </td>
          <td class="spacer-column"></td>
          <td>
            <div class="form-check form-switch form-left-margin-project-toggle-button">
              <%= check_box_tag "project[project_teams_attributes][][team_lead]", true, false, class: 'form-check-input' %>
            </div>
          </td>
      </tr>
    <% end %>
  <% end %>
</table>


  

  <br>
  <div class="row mb-3">
    <div>
      <%= form.submit @submit_button_text, class: "btn btn-info text-white", disabled: @disabled_status %>
    </div>
  </div>

<% end %>


