<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Time frame for completion:</strong>
    <%= project.time_frame_for_completion %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status %>
  </p>

</div>
