
<h3><%= "Showing #{@showed_project.name}" %></h3>
 
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Project Name</th>
      <th>Description</th>
      <th>Timeframe for Completion</th>
      <th>Creation Date</th>
      <th>Status</th>
      <th>Edit Project</th>
      <th>Delete Project</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= render @project %>
        <div>
        <td class="text-center">
          <%= button_to "Edit project", edit_project_path(@project), :method => "get" , class: 'btn btn-outline-secondary btn-sm' %>
        </td>
        <td class="text-center">
          <%= button_to "Destroy this project", @project, method: :delete, class: 'btn btn-outline-danger btn-sm' %>
        </td>

      </div>
    </tr>
  <tbody>
</table>

    
<div class="container">
    <div class="row">
        <div class="col-md-5">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Project Team
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul>
                <% if @project.users.empty? %>
                  <li>No users assigned to this project.</li>
                <% else %>
                  <% @project.users.each do | user | %>
                  <% project_team = user.project_teams.find_by(project_id: @project.id) %>
                    <li><%= user.first_name %> <%= user.last_name %>  <b><%= project_team.team_lead ? "(Team Lead)" : "" %></b></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="d-flex justify-content-start gap-3">
  <%= link_to "Manage Tasks", lists_path(project_id: @project.id), class: 'btn btn-info text-white btn-sm' %>
  <%= button_to "Manage Message Board", projects_path, :method => "get" , class: 'btn btn-info text-white btn-sm' %>
  <%= button_to "Manage Attachments", projects_path, :method => "get" , class: 'btn btn-info text-white btn-sm' %>
</div>


<br>

<div class="row mb-3">
  <%= button_to "<< Back to projects", projects_path, :method => "get" , class: 'btn btn-primary' %>
</div>
